@using DrinksHub.Components.Layout
@using DrinksHub.DTOs
@using DrinksHub.Services
@inject NavigationManager NavManager
@inject AuthService AuthService

@page "/login"
<h3>Login</h3>

@code {
	[SupplyParameterFromForm]
	private LoginRequestDTO? loginModel { get; set; }
	private string errorMessage = string.Empty;

	protected override void OnInitialized()
	{
		loginModel ??= new();
	}

	private async Task HandleLogin()
	{
		Console.WriteLine($"Submitting: '{loginModel.Username}' / '{loginModel.Password}'");

		loginModel.Username = loginModel.Username?.Trim() ?? string.Empty;
		loginModel.Password = loginModel.Password?.Trim() ?? string.Empty;

		bool success = await AuthService.LoginAsync(loginModel);

		if (!success)
		{
			errorMessage = "Login failed. Username or password incorrect";
		}
		else
		{
			NavManager.NavigateTo("/");
		}
	}
}

<div>
	<div class="mb-2">
		<EditForm Model="loginModel" OnValidSubmit="HandleLogin" FormName="loginForm">
			<DataAnnotationsValidator />
			<ValidationSummary />

			<div class="mb-2">
				<label for="username">Username: </label>
				<InputText id="username" @bind-Value="loginModel.Username" />
			</div>

			<div class="mb-2">
				<label for="password">Password: </label>
				<InputText id="password" @bind-Value="loginModel.Password" type="password" />
			</div>
			<button type="submit">Login</button>
		</EditForm>

		@if (!string.IsNullOrEmpty(errorMessage))
		{
			<p class="text-danger">@errorMessage</p>
		}
	</div>
</div>
