@page "/logout"
@using DrinksHub.Services
@inject AuthService AuthService
@inject NavigationManager NavManager

<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        AuthService.Logout();
        await InvokeAsync(() =>  NavManager.NavigateTo("/", forceLoad: true));
    }
}