@using DrinksHubApp.Services
@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims
@inject TokenStore TokenStore

@code {
    private string? userRole;

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(TokenStore.Token))
        {
            var handler = new JwtSecurityTokenHandler();
            var jwtToken = handler.ReadJwtToken(TokenStore.Token);

            userRole = jwtToken.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
        }
    }
}

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DrinksHubApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        @if (string.IsNullOrEmpty(TokenStore.Token))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/login">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/register">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Register
                </NavLink>
            </div>
        }
        else if (userRole == "Admin")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/adminDashboard">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin Dashboard
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/logout">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Logout
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/logout">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Logout
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/favorites">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Your Favorites
                </NavLink>
            </div>
        }
    </nav>
</div>

